.Input {
   width: 25%;
   margin: 0 auto;
   text-align: center;
   /* display: flex;
   place-items: center; */
   margin:  0.5rem  ;


}
.Input-box {
      background-color: red;
       height: 100%;
      width: 100%;
      margin-bottom: 1rem;

    display: grid;
    place-items: center;
}